.App {
  background-color: red;
  padding: 2rem 5rem;
}
.brands-container {
  display: flex;
  justify-content: space-around;
}

.brand-card {
  width: 350px;
  height: 200px;
  background-color: white;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
