* {
  /* margin: 0; */
  padding: 0;

  font-family: roboto;
  box-sizing: border-box;
}
.App {
  padding: 2rem 5rem;
}
.container {
  margin-bottom: 2rem;
}
.section-nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.step-title {
  margin-bottom: 2rem;
}
.step-title > h1 {
  font-weight: bold;
  font-size: calc(2.29446vw + 9.31549px);
  text-align: center;
  margin: 0;
}
.brands-container {
  justify-content: space-between;
}
.models-container {
  justify-content: space-around;
  align-content: flex-start;
}
.brands-container,
.models-container {
  display: flex;
  flex-wrap: wrap;
}

.brand-card {
  width: 350px;
}
.model-card {
  padding: 1rem;
  width: 250px;
  min-height: 300px;
  margin: 1rem;
}
.model-card-title,
.model-card-img,
.model-card > input {
  text-align: center;
  margin: 0.5rem 0;
}
.brand-card,
.model-card {
  background-color: white;
  border-radius: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.model-card > img,
.trade-in-card > img {
  max-width: 170px;
  height: auto;
}
button {
  padding: 1rem 2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5rem;
}

.device-details-container {
  display: flex;
  align-items: center;
}

.specifications,
.summary {
  width: 50%;
}

.select-variant > label {
  display: block;
}
.summary > img {
  max-width: 300px;
  height: auto;
}
.specifications {
  display: flex;
  justify-content: center;
}

.specs-content select {
  width: 100%;
  height: 3rem;
}

.section-4-container {
  margin-bottom: 2rem;
}

.trade-in-card {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 1em;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.trade-in-card-img > img {
  max-width: 200px;
  height: auto;
}

.grade-tabs button {
  box-shadow: none;
}
