* {
  /* margin: 0; */
  padding: 0;

  font-family: Montserrat;
  box-sizing: border-box;
}
.App {
  padding: 2rem 5rem;
}
.container {
  margin-bottom: 2rem;
}
h2 {
  font-weight: 800;
  text-align: center;
}
p,
label {
  font-weight: 500;
}

.accent-text {
  color: #1976d2;
}
.section-nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.step-title {
  margin-bottom: 2rem;
}
.step-title > h1 {
  font-weight: 900;
  font-size: calc(2.29446vw + 9.31549px);
  text-align: center;
  margin: 0;
}
.brands-container {
  justify-content: center;
}
.brand-logo img {
  max-width: 200px;
  height: auto;
}
.models-container {
  justify-content: space-around;
  align-content: flex-start;
}
.brands-container,
.models-container,
.trade-options-container {
  display: flex;
  flex-wrap: wrap;
}
.brand-card,
.model-card {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  cursor: pointer;
}
.brand-card:hover,
.model-card:hover {
  position: relative;
  top: -10px;
}
.brand-card {
  width: 350px;
  min-height: 200px;
  height: auto;
  margin: 1rem;
}
.model-card {
  padding: 1rem;
  width: 250px;
  min-height: 300px;
  margin: 1rem;
}
.model-card-title,
.model-card-img,
.model-card > input {
  text-align: center;
  margin: 0.5rem 0;
}
.brand-card,
.model-card,
.cart-item-card {
  background-color: white;
  border-radius: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.brand-card input,
.model-card input {
  width: 20px;
  height: 30px;
}

.model-card > img,
.trade-in-card > img {
  max-width: 170px;
  height: auto;
}
.cart-item-img > img {
  max-height: 170px;
  width: auto;
}
.trade-options-form,
.trade-options-summary {
  width: 50%;
  padding: 2rem;
}
.cart-item-summary * {
  margin: 0.5rem;
}
.cart-item-summary {
  display: flex;
  flex-direction: column;
}
.trade-options-form,
.specifications {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.trade-in-card-img,
.trade-in-card-summary {
  display: flex;
  justify-content: center;
}
.trade-in-card-img > img {
  max-width: 300px;
  height: auto;
}
.trade-in-card-summary {
  flex-direction: column;
  margin: 0.3rem 0;
  align-items: center;
}
.btn {
  font-weight: 600;
  padding: 1rem 2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5rem;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  cursor: pointer;
}
.nav-btn-next {
  background-color: #1976d2;
  color: white;
}

.btn:hover {
  position: relative;
  top: -10px;
}
.device-details-container {
  display: flex;
  align-items: center;
}
.specifications {
  padding: 2rem 0 3rem 0;
}
.specifications,
.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.select-variant {
  margin-bottom: 1rem;
}
.select-variant > label {
  display: block;
}
.summary > img {
  max-width: 300px;
  height: auto;
}

.specs-content select {
  width: 100%;
  height: 3rem;
  border-radius: 0.2rem;
  border: 1px solid #e7e7e7;
  padding: 1rem;
}

.section-4-container {
  margin-bottom: 2rem;
}

.trade-in-card {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 1em;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grade-tabs button {
  box-shadow: none;
}

#mui-8-helper-text {
  color: red !important;
}

.contact-form-container {
  width: 60%;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.checkout-summary {
  width: 40%;
}
.contact-form-container > div {
  margin: 1rem 0;
}
.contact-container {
  display: flex;
  gap: 2rem;
}
.cart-item-card {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
  padding: 2rem 1rem;
}

.add-another-device {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
.contact-form-tite {
  margin: 0 !important;
}

/* Mobile CSS */
@media only screen and (max-width: 767px) {
  .App {
    padding: 2rem;
  }
  /* Section 3 */
  .device-details-container {
    flex-direction: column-reverse;
  }
  .summary {
    width: 100%;
  }
  .specifications {
    width: 100%;
    padding: 1rem 2rem;
    margin-top: 1rem;
  }
  /* Section 4 */
  .trade-options-container {
    flex-direction: column-reverse;
  }
  .trade-options-form,
  .trade-options-summary {
    width: 100%;
  }
  /* Section 5 */
  .contact-container {
    flex-direction: column-reverse;
  }
  .checkout-summary,
  .contact-form-container {
    width: 100%;
  }
  .cart-item-summary {
    text-align: center;
  }
  .cart-item-card {
    flex-direction: column;
  }
  .contact-form-container {
    padding: 2rem 1rem;
  }
}
